head
	title ▮ tetrominos

	script(src="./index.ts" async defer type=module)
	link(type="text/css" rel='stylesheet', href='./index.less')

	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="icon" type="image/png" href="graphics/index.png")
body
	bb#print geometry of western

	bb#main
		canvas#draw
		decor#wallpapper

	db
	
	db
		img(src="./graphics/index.png")
		version 1
		timestamp 9:27
